* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conten {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}
.container1 {
  height: 100vh;
  width: 100%;
  position: relative !important;
  overflow: hidden;
}
.arrow-right {
  position: absolute !important;
  bottom: 0;

  width: 100%;
  height: 100px;
  border-left: 100vh solid red;
  border-right: 100vh solid red;
  border-top: 500px solid transparent;
}
.arrow-right1 {
  position: absolute !important;
  bottom: -5%;

  width: 100%;
  height: 100px;
  border-left: 100vh solid blue;
  border-right: 100vh solid blue;
  border-top: 500px solid transparent;
}
.arrow-right2 {
  position: absolute !important;
  bottom: -10%;

  width: 100%;
  height: 100px;
  border-left: 100vh solid yellow;
  border-right: 100vh solid yellow;
  border-top: 500px solid transparent;
}
